{% extends "base.html" %}
{% load staticfiles i18n %}
{% block content %}
<div class="row">
	<div class="gallerytitle">
		<h2>Changing the way Connecticut uses data</h2>
		<p>This site provides access to raw traffic stop data and tables
		for each police district in the state for stops conducted between
		October 1st, 2013 and September 30, 2015. New data will be posted
		as it is released.</p>
		<a href="/reports/tables/">
			<i class="button-warning">Explore data tables»</i>
		</a>
	</div>
</div>
<div class="row offset">
	<div class="col-sm-1"></div>
	<div class="col-sm-6">
		<div class="introduction">
			{{ about|safe}}
			<span>
				<a href="/about/">
					<i class="button-large">Get more information »</i>
				</a>
			</span>
		</div>
	</div>
	<div class="col-sm-4">
		<div>
			<h3>News</h3>
			<ul>
			</ul>
		</div>
	</div>
	<div class="col-sm-1"></div>
</div>
{% endblock %}
