.ctdata-ctrp3-subnav {
  background-color: $ctdata-super-dark-blue;
  padding: 1rem;

  a.nav-link {
    color: whitesmoke !important;
    font-size: 1.25rem !important;
    font-weight: 200;
  }

  .nav-item.active {
    a.nav-link {
      border-bottom: 3px solid $ctdata-medium-blue;
    }
  }
}

.ctdata-ctrp3-subnav-section.navbar-brand {
    padding-left: 2rem;
  }

.ctdata-ctrp3-subnav-section {
  //padding: 1rem;

  .navbar-nav {
    padding-right: 3rem;
    padding-top: 1rem;
  }
}

.ctdata-ctrp3-subnav-subtitle {
  font-family: $font2;
  color: whitesmoke;
  font-weight: 200;
  //text-transform: uppercase;
}

.ctdata-ctp3-subnav-title {
  font-family: $font3;
  color: whitesmoke;
  font-size: 2rem;
}


@media (max-width: 900px) {
  .ctdata-ctp3-subnav-title {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .ctdata-ctrp3-subnav-subtitle {
    font-size: .7rem;
  }

  .ctdata-ctp3-subnav-title {
    font-size: .75rem;
  }
}


